<div>
  <h1>Iniciar Sesion</h1>
  <mat-tab-group>
    <mat-tab label="MICROSOFT"> 
      <mat-card style="text-align: center;">
        <mat-card-content>
          <mat-card-title class="titulo">Iniciar sesion con microsoft</mat-card-title>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="submit()" mat-button color="accent">Conectar</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
    <mat-tab label="OFFLINE"> 
       
    </mat-tab>
  </mat-tab-group>
</div>

